.cartJPG{
    height: 60px;
}
.cartJPG.active:hover{
    background: #de707b;
}

.cart.active:hover {
	cursor: pointer;
	background: rgba(220, 85, 85, 0.1);
    transition: background-color 0.3s;
    border-radius: 80px;
}

.cart__quantity {
	position: absolute;
	right: 2px;
	top: 50%;
	transform: translateY(-50%);
	margin-top: -10px;
	background-color: #7c2828;
	border-radius: 100%;
	padding: 2px;
	color: #fff;
	font-size: 12px;
	min-height: 16px;
	min-width: 16px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.cart-content {
	cursor: default;
	width: 490px;
	position: absolute;
	top: 100%;
	right: 0;
	background-color: #fff;
	box-shadow: 0px 4px 4px rgba(135, 135, 135, 0.25);
    opacity: 0;
    z-index: 1;
    visibility: hidden;
	transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.cart.active:hover .cart-content {
	opacity: 1;
	visibility: visible;
	transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.content {
	padding-top: 90px;
}

.cart-content__list {
	max-height: 330px;
}

.cart-product {
	display: flex;
	align-items: center;
	padding: 12px 20px;
	padding-right: 13px;
	transition: background-color 0.3s;
}

.cart-product:hover {
	background: rgba(83, 4, 123, 0.1);
	transition: background-color 0.3s;
}

.cart-product__img {
	margin-right: 20px;
	max-width: 100px;
	max-height: 100px;
	object-fit: cover;
}

.cart-product__title {
	max-width: 300px;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: var(--color-dark);
	margin-bottom: 18px;
}

.cart-product__price {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 20px;
	line-height: 23px;
	color: var(--color-dark);
}

.cart-product__delete {
	border: none;
	background-color: transparent;
	cursor: pointer;
	background-image: url("../images/trash.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	flex-shrink: 0;
	width: 20px;
	height: 20px;
	padding: 0;
}

.cart-content__bottom {
	padding: 20px;
	border-top: 1px solid #eaeaea;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.cart-content__fullprice {
	font-size: 14px;
	line-height: 20px;
	color: var(--color-dark);
	display: flex;
	flex-direction: column;
}

.fullprice {
	margin-top: 10px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 20px;
	line-height: 23px;
	color: var(--color-dark);
}

.cart-content__btn {
	display: inline-block;
	width: 246px;
	text-align: center;
}

.simplebar-track.simplebar-vertical {
	width: 4px;
	background: rgba(157, 26, 26, 0.1);
	border-radius: 5px;
	right: 5px;
	margin-top: 20px;
	height: 100%;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
	background: rgba(130, 12, 12, 0.2);
	border-radius: 5px;
	width: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 1;
}

.btn{
    border: none;
    border-radius: 30px;
    background: rgb(230, 43, 43);
    color: white;
    padding: 10px;
    font-size: 15px;
    outline: none;
    width: 150px;
    text-align: center;
    margin-bottom: 10px;
}
.btn:hover {
    background: #a01818;
    transition: background  1s;
}
.cart{
    outline: none;
}