
.num {
    display: flex;
  }
  .paginator {
    position: absolute;
    bottom: 0;
    top: 550px;
    margin-left: 72px;
    font-size: 40px;
    font-family: 'Modak', cursive;
    color: #000000;
  }
  .paginator > span {
    margin-right: 10px;
    cursor: pointer;
  }
  .paginator_active {
    color: rgb(230, 43, 43);
  }